<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel panel-default">
	<div class="panel-body">
<table class="table table-hover">
	<caption>GOlang取Excel内容</caption>
	<thead>

	</thead>
	<tbody>
	{{range $index,$cellss := .cells}}

	<tr>
	{{range $indext,$cellst := $cellss}}
		<td>{{$cellst}}</td>
	{{end}}
	</tr>

	{{end}}
	</tbody>
</table>
	</div>
</div>
</body>
</html>