<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/admin_ass/Style/skin.css" />
</head>
    <body>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!-- 头部开始 -->
            <tr>
                <td width="17" valign="top" background="/static/admin_ass/Images/mail_left_bg.gif">
                    <img src="/static/admin_ass/Images/left_top_right.gif" width="17" height="29" />
                </td>
                <td valign="top" background="/static/admin_ass/Images/content_bg.gif">
                    <table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" background="/static/admin_ass/Images/content_bg.gif">
                        <tr>
                            <td height="31" width="85">
                                <ul>
                                    <li class="title">网站配置</li>
                                <ul>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="16" valign="top" background="/static/admin_ass/Images/mail_right_bg.gif"><img src="/static/admin_ass/Images/nav_right_bg.gif" width="16" height="29" /></td>
            </tr>
            <!-- 中间部分开始 -->
            <tr>
                <!--第一行左边框-->
                <td valign="middle" background="/static/admin_ass/Images/mail_left_bg.gif">&nbsp;</td>
                <!--第一行中间内容-->
                <td valign="top" bgcolor="#F7F8F9">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <!-- 空白行-->
                        <tr><td colspan="2" valign="top">&nbsp;</td><td>&nbsp;</td><td valign="top">&nbsp;</td></tr>
                        <tr>
                            <td colspan="4">
                                <table>
                                    <tr>
                                        <td width="100" align="center"><img src="/static/admin_ass/Images/mime.gif" /></td>
                                        <td valign="bottom"><h3 style="letter-spacing:1px;"><p id="msg">在这里，您可以根据您的需求，填写网站参数！</p></h3></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- 一条线 -->
                        <tr>
                            <td height="40" colspan="4">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                        <!-- 添加栏目开始 -->
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td width="96%">
                                <table width="100%">
                                    <tr>
                                        <td colspan="2">
                                            <form action="" method="">
                                                <table width="100%" class="cont">
                                                    <tr>
                                                        <td width="2%">&nbsp;</td>
                                                        <td>网站名称：</td>
                                                        <td width="20%"><input class="text" type="text" id="sitename" name="cat_name" value="{{.website}}" /></td>
                                                        <td>网站名称，将显示在导航条和标题中</td>
                                                        <td width="2%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td colspan="3"><input class="btn" type="button" value="提交" onclick="sysset();"/></td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="2%">&nbsp;</td>
                        </tr>
                        <!-- 添加栏目结束 -->
                        <tr>
                            <td height="40" colspan="4">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td width="51%" class="left_txt">
                                <img src="/static/admin_ass/Images/icon_mail.gif" width="16" height="11"> 服务邮箱：924417424@qq.com<br />
                                <img src="/static/admin_ass/Images/icon_phone.gif" width="17" height="14"> 官方网站：<a href="http://wpa.qq.com/msgrd?v=3&uin=924417424&site=qq&menu=yes" target="_blank">觅</a>
                            </td>
                            <td>&nbsp;</td><td>&nbsp;</td>
                        </tr>
                    </table>
                </td>
                <td background="/static/admin_ass/Images/mail_right_bg.gif">&nbsp;</td>
            </tr>
            <!-- 底部部分 -->
            <tr>
                <td valign="bottom" background="/static/admin_ass/Images/mail_left_bg.gif">
                    <img src="/static/admin_ass/Images/buttom_left.gif" width="17" height="17" />
                </td>
                <td background="/static/admin_ass/Images/buttom_bgs.gif">
                    <img src="/static/admin_ass/Images/buttom_bgs.gif" width="17" height="17">
                </td>
                <td valign="bottom" background="/static/admin_ass/Images/mail_right_bg.gif">
                    <img src="/static/admin_ass/Images/buttom_right.gif" width="16" height="17" />
                </td>           
            </tr>
        </table>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.cookie.min.js"></script>
        <script src="/static/js/Base64.js"></script>
        <script src="/static/js/login.js"></script>
    </body>
</html>